.centra {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dim-logo { 
	height : 50px;
	width : 50px
}
.tabellabianca {
	color: black;
	border : 1px solid black;
	padding-left: 10px;
	border-collapse: collapse;
	text-align: left;
	padding-right: 10px;
	background-color: ghostwhite;
	padding-top: 10px;
	padding-bottom: 10px;
}



h1 {
 	color: white; 
  	font-family: Helvetica, sans-serif; 
  	font-size: 60px;
  }
h2 {
  	color: white; 
  	font-family: Helvetica, sans-serif; 
  	font-size: 40px;
  }
h3 {
  	color: white; 
  	font-family: Helvetica, sans-serif; 
  	font-size: 30px;
  }
  h4 {
  	color: white; 
  	font-family: Helvetica, sans-serif; 
  	font-size: 25px;
  }
  h5 {
  	color: white; 
  	font-family: Helvetica, sans-serif;
  	font-size:18px;}


 body, a , head{
  	color: white; 
  	font-family: Helvetica, sans-serif;
  }

nav {
	text-align: center;
}
body,head {
 background-image : url(immagini/sfondo.png);
}
 p, div, h2, h3, h4,h5, body, table, ol {
	text-align:justify;
	margin-left:80px;
	margin-right:80px;
}
table, th, td{
	border: 1px solid white ;
	padding-left: 10px;
	border-collapse: collapse;
	text-align: left;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
tr, th, td {
	height: 40px;

}
 blockquote {
 text-align: justify;
	margin-left: 150px;
	margin-right: 150px;
}
ul {
	margin-left: 80px;
}