body,
head {
  background-color: black;
}

p {
  text-align: justify;
  color: white;
  font-family: Monaco, monospace;
  font-size: 20px;
  margin-left: 60px;
  margin-left: 60px;
}

h1,
h2 {
  color: red;
  font-family: Monaco, monospace;
  font-size: 30px;
}

nav {
  text-align: center;
}